*{
    font-family:'Jost';}

p{
    font-size: 18px;
}

h4{
    font-family:'Jaldi';
}

.nav-link{
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-item:hover{
background-color: #E8ECEF;
padding-top: 1rem;
padding-bottom: 1rem;
border-radius: 0.2rem;
}

@media (max-width: 991.98px){
    .navbar-collapse .navbar-nav .nav-item:not(.dropdown) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.navbar-toggler{
    width: 25%;
}

.navbar-toggler-icon{
    width: 50%;
    height: 60px;
}

.scrollContainer{
    border-color: black;
}

/* [class*="col"]{
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid #fff;
    color: #fff;
} */

/* Media Queries */
@media (min-width: 480px){
    .navbar-nav{
        align-items:center;
        gap: 2.5rem;
    }
}

@media (min-width: 576px){
    .navbar-nav{
        align-items:center;
        gap: 2.5rem;
    }

}

/* Carousel Code */
#mySocialCarousel.carousel {
    width: 75px;
    height: 75px;
}

#mySocialCarousel.carousel .carousel-item img {
    width: auto;
    height: 100%;
    object-fit: cover;
}